<form>
<div class="container">

    <div class="header">
    <h1 style="color: fuchsia; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Contact Our</h1>
    <h1 style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;"> Customer Support Center </h1>
    </div>

    <div class="Image">
      <img  class="img" src="https://freepngimg.com/thumb/macbook/28586-4-macbook-transparent.png" width="150" height="150">  
    </div> 

  </div>
    <hr>
   
    <div class="info">  

          <div class="example-container">

            <h1>Contact Information</h1>
            <h3>Please fill out your Contact Information below</h3>

            <mat-form-field hintLabel="First Name" appearance="fill">
              <input matInput #input placeholder="First Name">
            </mat-form-field>

            <mat-form-field hintLabel="Last Name" appearance="fill">
              <input matInput #input placeholder="Last Name">
            </mat-form-field>
            
          </div>    
            
          <br>

          <mat-form-field style="width: 530px;" hintLabel="Email" appearance="fill">
          <input matInput #input placeholder="abc@gmail.com">
          </mat-form-field>
          
          <br>
          <br>
          
          <mat-form-field style="width: 530px;" hintLabel="Max 10 Digit" appearance="fill">
          <input matInput #input maxlength="10" placeholder="Phone">
          </mat-form-field>
          
          <br>
          <br>
          
          <mat-form-field style="width: 530px;" hintLabel="Address" appearance="fill">
          <input matInput #input  placeholder="Address">
          </mat-form-field>
          
          <br>

          <button mat-raised-button color="accent">Submit Form</button>
        
  
</div>
</form>